/*p, h1, h2, h3, h4, h5, h6 {*/
/*    color: red;*/
/*}*/


.w_captionText {
    font-size: 1em;
}

.w_content_container{
    padding: 1em;
}

.autocomplete li {
    background-color: white;
    padding: 0 70px;
}

.card-title {
    font-weight: bold;
}
